@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

@font-face {
    font-family: Fakt Pro;
    src: url(https://backgrounds.wetransfer.net/homerun/fonts/FaktProWeb-Normal.woff);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: Clearface;
    src: url(https://backgrounds.wetransfer.net/homerun/fonts/Clearface2.woff);
    font-weight: normal;
    font-style: normal;
  }




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: #FFF1E5;
    color: black;
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}

nav {
    font-family: Fakt Pro;
    padding: 0 4.5em;
    text-align: right;
        width: 100%;
        margin: 3.7em auto;
}

a {
    text-decoration: none;
    color: #EA671B;
}

ul {
    list-style: none;
}

li {
    display: inline-block;

}

li a {
    display: block;
    padding-left: 3.5em;
    text-decoration: none;
    font-size: 1.1em;
    text-align: right;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 530px;
    height: 360px;
    /* background-color:#ffffff; */
    /* border-radius: 4px;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1); */
}

.text {
    color: rgb(20, 20, 20);
    align-self: center;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    color: #231f34;
    line-height: 1.3;
}




span {
    font-style: bolder;
    /* color: #EA671B; */
    /* background-color: #EA671B; */
}

li:first-of-type {
    font-size: 1.2em;
    font-weight: bolder; 
    float: left;
}

/* li:first-of-type > a {
    padding-left: 0;
} */

svg {
    width: 66%;
    display: inline-block;
    height: 66%;
    position:relative;
}

.image {
   align-self: center;
   margin: 0 auto;
}

a[href=home] {
    padding-left: 0;
}